<div class="room-ranking-module">
    <div class="header">
        <h1>Clasificación Social</h1>
        <select class="form-select" [(ngModel)]="selectValue" aria-label="Seleccione sala" data-width="fit">
            <option *ngFor="let room of userService.userRooms" [value]="room.id">{{room.name}}</option>
        </select>
        <h4 *ngIf="!!selectValue">{{ 'Código: ' + selectValue }}</h4>

    </div>
    <div class="room-ranking">
        <ranking-component [users]="userService.usersRealTime"></ranking-component>
    </div>

    <div class="buttons-container">
        <button class="btn btn-primary" (click)="toggleModal()">Crear sala</button>
        <button class="btn btn-primary">Unirse a sala</button>
    </div>
</div>

<modal-component *ngIf="showModal" [(showModal)]="showModal">
    <div>
        <p>Introduce el nombre de la sala</p>
        <button class="btn btn-secondary">Cancelar</button>
        <button class="btn btn-primary" (click)="saveRoom()">Aceptar</button>
    </div>
</modal-component>
