.room-ranking-module
    display: flex
    flex-direction: column
    height: 80vh
    .header
        padding-top: 25px
        text-align: center
    .room-ranking
        padding: 10px
        height: 50vh
        .no-room
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            h4
                text-align: center
        ranking-component
            ::ng-deep
                .ranking
                    .list
                        height: 50vh
                    .spinner-container
                        height: 50vh
    .buttons-container
        display: flex
        justify-content: space-evenly
        gap: 10px
        button
            width: 45%

modal-component
    .modal-content
        border: 0
        .buttons-container
            margin-top: 20px
            display: flex
            justify-content: space-evenly
            gap: 10px
            button
                width: 45%