<div>
    <div class="header">
        <h1>{{ userService.user.name }}</h1>
        <h2>{{ userService.user.counter }}</h2>
    </div>
    <div class="body">
        <div class="element">
            <h4>cubata</h4>
            <img src="/assets/vat.svg" width="32" height="32">
            <div class="button-container">
                <button class="btn btn-light" (click)="decreaseValue(1)">-</button>
                <button class="btn btn-light" (click)="increaseValue(1)">+</button>
            </div>
        </div>
        <div class="element">
            <h4>chupito</h4>
            <img src="/assets/shot.svg" width="32" height="32">
            <div class="button-container">
                <button class="btn btn-light" (click)="decreaseValue(0.75)">-</button>
                <button class="btn btn-light" (click)="increaseValue(0.75)">+</button>
            </div>
        </div>
        <div class="element">
            <h4>cerveza</h4>
            <img src="/assets/beer.svg" width="32" height="32">
            <div class="button-container">
                <button class="btn btn-light" (click)="decreaseValue(0.5)">-</button>
                <button class="btn btn-light" (click)="increaseValue(0.5)">+</button>
            </div>
        </div>
    </div>
</div>
