<div class="classification-menu-module">
    <div class="header">
        <h1>Selecciona clasificación</h1>
    </div>
    <div class="classification-container">
        <div class="card" routerLink="/classification/room">
            <div class="image-container">
                <img class="image-1" src="/assets/people.svg" width="182" height="128">
            </div>
            <h4>Salas</h4>
        </div>
        <div class="card" routerLink="/classification/global">
            <div class="image-container">
                <img class="image-2" src="/assets/globe.svg" width="128" height="128">
            </div>
            <h4>Global</h4>
        </div>
    </div>
</div>
