<div class="main">
    <div class="header">
        <button class="btn btn-dark" (click)="logout()">LOGOUT</button>
        <button class="btn btn-dark" (click)="toogleModal()">INFO</button>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div class="navbar fixed-bottom">
        <a class="btn btn-light" routerLink="/home">Home</a>
        <a class="btn btn-light" routerLink="/classification">Clasificación</a>
    </div>
</div>


<div *ngIf="showModal" id="myModal" class="modal" (click)="toogleModal()">
    <div class="modal-content">
        <p>
            Normas del juego:
        </p>
        <ul>
            <li>Cubatas vale 1 punto</li>
            <li>Chupito vale 0.75 puntos</li>
            <li>Cerveza vale 0.5 puntos</li>
        </ul>
    </div>
</div>