<div class="main">
    <div class="header">
        <img src="/assets/logout.svg" (click)="logout()" width="32" height="32">
        <img src="/assets/info-circle.svg" (click)="toogleModal()" width="32" height="32">
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div class="navbar fixed-bottom">
        <img [src]="iconRoutes.home" routerLink="/home" width="32" height="32">
        <img [src]="iconRoutes.classification" routerLink="/classification" width="32" height="32">
    </div>
</div>

<modal-component [showModal]="showModal" (click)="toogleModal()">
    <div>
        <p>
            Normas del juego:
        </p>
        <ul>
            <li>Cubatas vale 1 punto</li>
            <li>Chupito vale 0.75 puntos</li>
            <li>Cerveza vale 0.5 puntos</li>
        </ul>
    </div>
</modal-component>