.main
    display: flex
    flex-direction: column
    height: 100vh
    .header
        height: 30px
        background-color: coral

    .body
        height: 100vh
    .navbar
        height: 30px
        background-color: cyan